<ion-header>

    <ion-navbar>
        <ion-title>Mes observations
            <ion-icon name="help" class="help" (click)="onHelpClicked()"></ion-icon>
        </ion-title>

    </ion-navbar>

    <!-- segment -->
    <ion-toolbar primary no-border-top class="with-segment floating-ion-toolbar toolbar-bottom">
        <ion-segment [(ngModel)]="obsSegment" (ionChange)="onSegmentChanged($event)">
            <ion-segment-button value="listes">
                Liste
            </ion-segment-button>
            <ion-segment-button value="stations">
                Carte
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>


<ion-content padding>
    <div [ngSwitch]="obsSegment">
        <ion-list *ngSwitchCase=" 'listes' " (swipe)="swipe($event)" class="obsList">
            <ion-item *ngFor="let ob of obs " (click)="navigateToDetail(ob.protocole,ob.id, ob.pushed)">
                <ion-row>
                    <ion-col width-25 class="iconObs">
                        <ion-thumbnail item-start>
                            <img src={{getImage(ob)}} />
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col width-75 class="obsValue">
                        <p class="protoName"> {{ob.label}}</p>
                        <h2> {{ob.nom_vernaculaire}}</h2>
                        <p>{{ob.dateObs | date :'dd-MM-yyyy'}}-{{ob.dateObs | date :'shortTime'}}</p>
                    </ion-col>
                </ion-row>
            </ion-item>
            <div class="obsIsEmpty" *ngIf="obs == 0">Pas d'observations stockées associées à ce projet. <br/><br/>Pour une nouvelle saisie, cliquez sur le bouton en bas. </div>

        </ion-list>

        <ion-list *ngSwitchCase="'stations'" (swipe)="swipe($event)">

            <div id="map" style="width: 100%; height: 300px"></div>
        </ion-list>

    </div>



</ion-content>
<ion-footer no-shadow>
    <ion-toolbar position="bottom">
        <button ion-button type="submit" block (click)="newObs()">Nouvelle observation</button>
        <!--<button ion-button type="submit" block (click)="newObs()" [disabled]="newObsDisabled">Nouvelle observation</button>-->
    </ion-toolbar>
</ion-footer>