page-observations {
    .item-md ion-thumbnail ion-img,
    .item-md ion-thumbnail img {
        width: 40px !important;
        height: 40px !important;
    }
    .iconObs {
        max-width: 20%;
    }
}