protocol-form {}

page-autocompTaxa {
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}

.settings-modal {
    position: absolute;
    width: 30%;
    height: 60%;
    top: 20%;
    left: 35%;
}

.autocomp .popover-content {
    /* width: 400px;*/
    min-height: 200px;
}

.autocomp {
    background-color: rgba(200, 200, 200, 0.5);
}

.text-center {
    text-align: center;
}

i.js-nomlatin {
    font-size: small;
    color: rgba(0, 0, 0, 0.70);
}

.labelSpecie {
    font-size: 16px!important;
    padding-top: 25px!important;
    padding-bottom: 5px!important;
    color: rgb(153, 153, 153);
    ;
}

.specieValue {
    align-self: stretch!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}