<form *ngIf="formModel" [formGroup]="formModel" novalidate (ngSubmit)="onSubmit(formModel.value)" (swipe)="swipe($event)">
    <div [ngSwitch]="segment">
        <ion-list *ngSwitchCase="'localisation'" ngSelected="selected">
            <map (fullsize)="handleMapSize($event)" (latEvent)="handleLatChange($event)" (lonEvent)="handleLonChange($event)" (jsonEvent)="handleTraceChange($event)" [projId]="projId" [latitude]="latitude" [longitude]="longitude" [trace]="trace"></map>
            <!-- <map (latEvent)="handleLatChange($event)" (lonEvent)="handleLonChange($event)" [projId]="projId"></map>  -->
            <br/>
            <p><b>Date</b> : {{dateObs | date: 'dd/MM/yyyy'}} , <b>heure </b>: {{dateObs | date :'HH:mm'}}</p>
            <p><b>Latitude </b>: {{latitude}} , <b>longitude </b>: {{longitude}}</p>



        </ion-list>

        <ion-list *ngSwitchCase="'obligatoire'">

            <ion-item>
                <ion-label floating>Type d'inventaire</ion-label>
                <ion-select formControlName="type_inventaire" interface="popover">
                    <ion-option value="A vue">A vue</ion-option>
                    <ion-option value="Observation fortuite">Observation fortuite</ion-option>
                    <ion-option value="Transect">Transect</ion-option>
                    <ion-option value="Troubleau">Troubleau</ion-option>
                    <ion-option value="Filet/parapluie japonais">Filet/parapluie japonais</ion-option>
                    <ion-option value="Nasse/piège aquatique">Nasse/piège aquatique</ion-option>
                    <ion-option value="Biocénomètre">Biocénomètre</ion-option>
                    <ion-option value="ADNe">ADNe</ion-option>
                </ion-select>

            </ion-item>


            <!-- <ion-item (click)="presentPopoverAutocomp('insectes')">
                <ion-label *ngIf="!formModel.value.nom_vernaculaire" class="labelSpecie">Nom vernaculaire</ion-label>
                <ion-label stacked *ngIf="formModel.value.nom_vernaculaire" class="labelSpecie">Nom vernaculaire</ion-label>
                <div item-content *ngIf="formModel.value.nom_vernaculaire" class="specieValue">{{formModel.value.nom_vernaculaire}}</div>
            </ion-item>   -->

            <ion-item (click)="presentPopoverAutocomp('insectes')">
                <ion-label *ngIf="!formModel.value.taxon" class="labelSpecie">Nom scientifique</ion-label>
                <ion-label stacked *ngIf="formModel.value.taxon" class="labelSpecie">Nom scientifique</ion-label>
                <div item-content *ngIf="formModel.value.taxon" class="specieValue">{{formModel.value.taxon}}</div>
            </ion-item>




            <ion-item>
                <ion-input type="hidden" formControlName="nom_vernaculaire"></ion-input>
            </ion-item>
            <ion-item [class.hide]="true">
                <ion-label floating>Nom scientifique</ion-label><br/>

                <ion-input readOnly formControlName="taxon"></ion-input>

            </ion-item>
            <ion-item [class.hide]="true">
                <ion-label floating>taxref_id</ion-label><br/>

                <ion-input readOnly formControlName="taxref_id"></ion-input>

            </ion-item>


            <ion-item>
                <ion-label floating>Effectif</ion-label>
                <ion-input type="number" formControlName="effectif"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="labelSpecie">Valeur estimée</ion-label>
                <ion-checkbox formControlName="estimated" item-right></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label class="labelSpecie">Minimum</ion-label>
                <ion-checkbox formControlName="minimum" item-right></ion-checkbox>
            </ion-item>




        </ion-list>

        <ion-list *ngSwitchCase="'facultatif'">

            <ion-item>
                <ion-label floating>Type de milieu</ion-label>
                <ion-select formControlName="type_milieu" interface="popover">
                    <ion-option value="Autre">Autre</ion-option>
                    <ion-option value="Cavité/Grotte">Cavité/Grotte</ion-option>
                    <ion-option value="Cours d’eau permanent">Cours d’eau permanent</ion-option>
                    <ion-option value="Cours d'eau temporaire">Cours d'eau temporaire</ion-option>
                    <ion-option value="Culture extensive">Culture extensive</ion-option>
                    <ion-option value="Culture intensive">Culture intensive</ion-option>
                    <ion-option value="Etang/Mare/Marais">Etang/Mare/Marais</ion-option>
                    <ion-option value="Forêt de conifères">Forêt de conifères</ion-option>
                    <ion-option value="Forêt de feuillus">Forêt de feuillus</ion-option>
                    <ion-option value="Forêt mixte">Forêt mixte</ion-option>
                    <ion-option value="Friche/Lande">Friche/Lande</ion-option>
                    <ion-option value="Haie">Haie</ion-option>
                    <ion-option value="Maquis/Garrigue">Maquis/Garrigue</ion-option>
                    <ion-option value="Mer/Océan">Mer/Océan</ion-option>
                    <ion-option value="Milieu bocager">Milieu bocager</ion-option>
                    <ion-option value="Milieu rupestre">Milieu rupestre</ion-option>
                    <ion-option value="Milieu urbain/Bâtis">Milieu urbain/Bâtis</ion-option>
                    <ion-option value="Pelouse naturelle">Pelouse naturelle</ion-option>
                    <ion-option value="Plage/Vasière/Lagune">Plage/Vasière/Lagune</ion-option>
                    <ion-option value="Plantation d'arbres">Plantation d'arbres</ion-option>
                    <ion-option value="Plaine céréalière">Plaine céréalière</ion-option>
                    <ion-option value="Prairie/Pâture">Prairie/Pâture</ion-option>
                    <ion-option value="Ripisylve">Ripisylve</ion-option>
                    <ion-option value="Rivière/Canal">Rivière/Canal</ion-option>
                    <ion-option value="Roselière/Mégaphorbiaie">Roselière/Mégaphorbiaie</ion-option>
                    <ion-option value="Tourbière">Tourbière</ion-option>
                    <ion-option value="Verger/Vignoble">Verger/Vignoble</ion-option>

                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Comportement</ion-label>
                <ion-select formControlName="comportement" interface="popover">
                    <ion-option value="Accouplement">Accouplement</ion-option>
                    <ion-option value="Alimentation">Alimentation</ion-option>
                    <ion-option value="Autre">Autre</ion-option>
                    <ion-option value="Chant">Chant</ion-option>
                    <ion-option value="Exuvie/chrysalide">Exuvie/chrysalide</ion-option>
                    <ion-option value="Mort">Mort</ion-option>
                    <ion-option value="Posé/repos">Posé/repos</ion-option>
                    <ion-option value="Vol de chasse">Vol de chasse</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Sexe</ion-label>
                <ion-select formControlName="sexe" interface="popover">
                    <ion-option value="mâle">mâle</ion-option>
                    <ion-option value="femelle">femelle</ion-option>
                    <ion-option value="larves">larves</ion-option>
                    <ion-option value="oeufs">oeufs</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Reproduction</ion-label>
                <ion-select formControlName="reproduction" interface="popover">
                    <ion-option value="non">non</ion-option>
                    <ion-option value="possible">possible</ion-option>
                    <ion-option value="probable">probable</ion-option>
                    <ion-option value="certain">certain</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Plante hôte</ion-label>
                <ion-textarea formControlName="plante_hote"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label floating>Remarques</ion-label>
                <ion-textarea formControlName="Comments"></ion-textarea>
            </ion-item>

            <div class="imagesContainer">
                <div *ngFor="let image of images" class="imgContainer">
                    <img src={{image.base64Data}}>
                    <button class="delImg" (click)="deleteImage(image)">supprimer</button>
                </div>
            </div>
        </ion-list>

    </div>
    <div>

    </div>

</form>