<form *ngIf="formModel" [formGroup]="formModel" novalidate (ngSubmit)="onSubmit(formModel.value)">
    <div [ngSwitch]="segment">
        <ion-list *ngSwitchCase="'localisation'">
            <map (fullsize)="handleMapSize($event)" (latEvent)="handleLatChange($event)" (lonEvent)="handleLonChange($event)" (jsonEvent)="handleTraceChange($event)" [projId]="projId" [latitude]="latitude" [longitude]="longitude"></map>
            <br/>
            <p><b>Date</b> : {{dateObs | date: 'dd/MM/yyyy'}} , <b>heure </b>: {{dateObs | date :'HH:mm'}}</p>
            <p><b>Latitude </b>: {{latitude}} , <b>longitude </b>: {{longitude}}</p>

        </ion-list>

        <ion-list *ngSwitchCase="'obligatoire'">
            <ion-item>
                <ion-label floating>Type d'inventaire</ion-label>
                <ion-select formControlName="type_inventaire" interface="popover">
                    <ion-option value="ADNe">ADNe</ion-option>
                    <ion-option value="Affût">Affût</ion-option>
                    <ion-option value="Analyse de pelotes de réjection">Analyse de pelotes de réjection</ion-option>
                    <ion-option value="Comptage au phare">Comptage au phare</ion-option>
                    <ion-option value="IKA">IKA</ion-option>
                    <ion-option value="Observation fortuite">Observation fortuite</ion-option>
                    <ion-option value="Piège non vulnérant">Piège non vulnérant</ion-option>
                    <ion-option value="Piège photographique">Piège photographique</ion-option>
                    <ion-option value="Recherche à vue ou écoute">Recherche à vue ou écoute</ion-option>
                </ion-select>
            </ion-item>


            <ion-item (click)="presentPopoverAutocomp('mammofaune')">
                <ion-label *ngIf="!formModel.value.nom_vernaculaire" class="labelSpecie">Nom vernaculaire</ion-label>
                <ion-label stacked *ngIf="formModel.value.nom_vernaculaire" class="labelSpecie">Nom vernaculaire</ion-label>
                <div item-content *ngIf="formModel.value.nom_vernaculaire" class="specieValue">{{formModel.value.nom_vernaculaire}}</div>
            </ion-item>
            <ion-item>
                <ion-input type="hidden" formControlName="nom_vernaculaire"></ion-input>
            </ion-item>
            <ion-item [class.hide]="true">
                <ion-label floating>Nom scientifique</ion-label><br/>

                <ion-input readOnly formControlName="nom_scientifique"></ion-input>

            </ion-item>


            <ion-item>
                <ion-label floating>Effectif</ion-label>
                <ion-input type="number" formControlName="effectif"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label class="labelSpecie">Valeur estimée</ion-label>
                <ion-checkbox formControlName="estimated" item-right></ion-checkbox>
            </ion-item>


        </ion-list>

        <ion-list *ngSwitchCase="'facultatif'">

            <ion-item>
                <ion-label floating>Type de milieu</ion-label>
                <ion-select formControlName="type_milieu" interface="popover">
                    <ion-option value="Autre">Autre</ion-option>
                    <ion-option value="Cavité/Grotte">Cavité/Grotte</ion-option>
                    <ion-option value="Etang/Mare/Marais">Etang/Mare/Marais</ion-option>
                    <ion-option value="Forêt de conifères">Forêt de conifères</ion-option>
                    <ion-option value="Forêt de feuillus">Forêt de feuillus</ion-option>
                    <ion-option value="Forêt mixte">Forêt mixte</ion-option>
                    <ion-option value="Haie/Friche/Lande">Haie/Friche/Lande</ion-option>
                    <ion-option value="Mer/Océan">Mer/Océan</ion-option>
                    <ion-option value="Milieu bocager">Milieu bocager</ion-option>
                    <ion-option value="Milieu rupestre">Milieu rupestre</ion-option>
                    <ion-option value="Milieu urbain/Bâtis">Milieu urbain/Bâtis</ion-option>
                    <ion-option value="Plage/Vasière">Plage/Vasière</ion-option>
                    <ion-option value="Plaine céréalière">Plaine céréalière</ion-option>
                    <ion-option value="Prairie/Pâture">Prairie/Pâture</ion-option>
                    <ion-option value="Rivière/Canal">Rivière/Canal</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Comportement/indice</ion-label>
                <ion-select formControlName="comportement" interface="popover">
                    <ion-option value="Accouplement">Accouplement</ion-option>
                    <ion-option value="Alimentation">Alimentation</ion-option>
                    <ion-option value="Autre">Autre</ion-option>

                    <ion-option value="Contact auditif">Contact auditif</ion-option>
                    <ion-option value="Déplacement/fuite">Déplacement/fuite</ion-option>
                    <ion-option value="Empreintes">Empreintes</ion-option>
                    <ion-option value="Hiberne">Hiberne</ion-option>
                    <ion-option value="Indices de repas">Indices de repas</ion-option>
                    <ion-option value="Laissées/crottier">Laissées/crottier</ion-option>
                    <ion-option value="Mort">Mort</ion-option>
                    <ion-option value="Poils">Poils</ion-option>
                    <ion-option value="Repos">Repos</ion-option>
                    <ion-option value="Terrier/gîte/nid/taupinière">Terrier/gîte/nid/taupinière</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Sexe</ion-label>
                <ion-select formControlName="sexe" interface="popover">
                    <ion-option value="mâle">mâle</ion-option>
                    <ion-option value="femelle">femelle</ion-option>
                    <ion-option value="couple">couple</ion-option>
                    <ion-option value="juv/imm">juv/imm</ion-option>
                    <ion-option value="?">?</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Reproduction</ion-label>
                <ion-select formControlName="reproduction" interface="popover">
                    <ion-option value="non">non</ion-option>
                    <ion-option value="possible">possible</ion-option>
                    <ion-option value="probable">probable</ion-option>
                    <ion-option value="certain">certain</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Remarques</ion-label>
                <ion-textarea formControlName="remarques"></ion-textarea>
            </ion-item>
            <div class="imagesContainer">
                <div *ngFor="let image of images" class="imgContainer">
                    <img src={{image}}>
                    <button class="delImg" (click)="deleteImage(image)">supprimer</button>
                </div>
            </div>


        </ion-list>

    </div>

    <!--<button ion-button type="submit" [disabled]="formModel.invalid" block>Terminer</button>-->
</form>