/*.btnsubmit {
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 95%;
    margin: 1em;
}*/

ion-auto-complete {
    width: 50vw;
}

.hiddenItem {
    height: 400px;
    ;
}