<form *ngIf="formModel" [formGroup]="formModel" novalidate (ngSubmit)="onSubmit(formModel.value)">
    <div [ngSwitch]="segment">
        <ion-list *ngSwitchCase="'localisation'" ngSelected="selected">
            <map (fullsize)="handleMapSize($event)" (latEvent)="handleLatChange($event)" (lonEvent)="handleLonChange($event)" (jsonEvent)="handleTraceChange($event)" [projId]="projId" [latitude]="latitude" [longitude]="longitude"></map>
            <!-- <map (latEvent)="handleLatChange($event)" (lonEvent)="handleLonChange($event)" [projId]="projId"></map>  -->
            <br/>
            <p><b>Date</b> : {{dateObs | date: 'dd/MM/yyyy'}} , <b>heure </b>: {{dateObs | date :'HH:mm'}}</p>
            <p><b>Latitude </b>: {{latitude}} , <b>longitude </b>: {{longitude}}</p>



        </ion-list>

        <ion-list *ngSwitchCase="'obligatoire'">

            <ion-item>
                <ion-label floating>Type d'inventaire</ion-label>
                <ion-select formControlName="type_inventaire" interface="popover">
                    <ion-option value="Analyse génétique">Analyse génétique</ion-option>
                    <ion-option value="Autre enregistreur">Autre enregistreur</ion-option>
                    <ion-option value="Capture au filet">Capture au filet</ion-option>
                    <ion-option value="Enregistrement automatique au ballon">Enregistrement automatique au ballon</ion-option>
                    <ion-option value="Enregistrement automatique en canopée">Enregistrement automatique en canopée</ion-option>
                    <ion-option value="Enregistrement automatique en nacelle">Enregistrement automatique en nacelle</ion-option>
                    <ion-option value="Enregistrement automatique sur mât">Enregistrement automatique sur mât</ion-option>
                    <ion-option value="Enregistrement manuel au sol">Enregistrement manuel au sol</ion-option>
                    <ion-option value="Observation à vue">Observation à vue</ion-option>
                    <ion-option value="Observation en sortie de gîte">Observation en sortie de gîte</ion-option>
                    <ion-option value="Recherche de cadavres">Recherche de cadavres</ion-option>
                    <ion-option value="Recherche de gîte de parturition">Recherche de gîte de parturition</ion-option>
                    <ion-option value="Recherche de gîte d'hibernation">Recherche de gîte d'hibernation</ion-option>
                    <ion-option value="Recherche de gîte estival/reproduction">Recherche de gîte estival/reproduction</ion-option>
                    <ion-option value="SM2BAT">SM2BAT</ion-option>
                    <ion-option value="SM4BAT">SM4BAT</ion-option>
                </ion-select>

            </ion-item>


            <ion-item (click)="presentPopoverAutocomp('chiro')">
                <ion-label *ngIf="!formModel.value.nom_vernaculaire" class="labelSpecie">Nom vernaculaire</ion-label>
                <ion-label stacked *ngIf="formModel.value.nom_vernaculaire" class="labelSpecie">Nom vernaculaire</ion-label>
                <div item-content *ngIf="formModel.value.nom_vernaculaire" class="specieValue">{{formModel.value.nom_vernaculaire}}</div>
            </ion-item>
            <ion-item>
                <ion-input type="hidden" formControlName="nom_vernaculaire"></ion-input>
            </ion-item>
            <ion-item [class.hide]="true">
                <ion-label floating>Nom scientifique</ion-label><br/>

                <ion-input readOnly formControlName="nom_scientifique"></ion-input>

            </ion-item>


            <ion-item>
                <ion-label floating>Effectif</ion-label>
                <ion-input type="number" formControlName="effectif"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="labelSpecie">Valeur estimée</ion-label>
                <ion-checkbox formControlName="estimated" item-right></ion-checkbox>
            </ion-item>

            <ion-item>
                <ion-label floating>Nombre de contacts</ion-label>
                <ion-input type="number" formControlName="nb_contact"></ion-input>
            </ion-item>





        </ion-list>

        <ion-list *ngSwitchCase="'facultatif'">

            <ion-item>
                <ion-label floating>Type de milieu</ion-label>
                <ion-select formControlName="type_milieu" interface="popover">
                    <ion-option value="Autre">Autre</ion-option>
                    <ion-option value="Cavité/Grotte">Cavité/Grotte</ion-option>
                    <ion-option value="Cours d’eau permanent">Cours d’eau permanent</ion-option>
                    <ion-option value="Cours d'eau temporaire">Cours d'eau temporaire</ion-option>
                    <ion-option value="Culture extensive">Culture extensive</ion-option>
                    <ion-option value="Culture intensive">Culture intensive</ion-option>
                    <ion-option value="Etang/Mare/Marais">Etang/Mare/Marais</ion-option>
                    <ion-option value="Forêt de conifères">Forêt de conifères</ion-option>
                    <ion-option value="Forêt de feuillus">Forêt de feuillus</ion-option>
                    <ion-option value="Forêt mixte">Forêt mixte</ion-option>
                    <ion-option value="Friche/Lande">Friche/Lande</ion-option>
                    <ion-option value="Haie">Haie</ion-option>
                    <ion-option value="Maquis/Garrigue">Maquis/Garrigue</ion-option>
                    <ion-option value="Mer/Océan">Mer/Océan</ion-option>
                    <ion-option value="Milieu bocager">Milieu bocager</ion-option>
                    <ion-option value="Milieu rupestre">Milieu rupestre</ion-option>
                    <ion-option value="Milieu urbain/Bâtis">Milieu urbain/Bâtis</ion-option>
                    <ion-option value="Pelouse naturelle">Pelouse naturelle</ion-option>
                    <ion-option value="Plage/Vasière/Lagune">Plage/Vasière/Lagune</ion-option>
                    <ion-option value="Plantation d'arbres">Plantation d'arbres</ion-option>
                    <ion-option value="Plaine céréalière">Plaine céréalière</ion-option>
                    <ion-option value="Prairie/Pâture">Prairie/Pâture</ion-option>
                    <ion-option value="Ripisylve">Ripisylve</ion-option>
                    <ion-option value="Rivière/Canal">Rivière/Canal</ion-option>
                    <ion-option value="Roselière/Mégaphorbiaie">Roselière/Mégaphorbiaie</ion-option>
                    <ion-option value="Tourbière">Tourbière</ion-option>
                    <ion-option value="Verger/Vignoble">Verger/Vignoble</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Comportement/indice</ion-label>
                <ion-select formControlName="comportement" interface="popover">
                    <ion-option value="Autre">Autre</ion-option>
                    <ion-option value="Chasse">Chasse</ion-option>
                    <ion-option value="Cri/Alerte">Cri/Alerte</ion-option>
                    <ion-option value="Déplacement/migration">Déplacement/migration</ion-option>
                    <ion-option value="Guanos">Guanos</ion-option>
                    <ion-option value="Mort">Mort</ion-option>
                    <ion-option value="Nurserie">Nurserie</ion-option>
                    <ion-option value="Posé/repos">Posé/repos</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Sexe</ion-label>
                <ion-select formControlName="sexe" interface="popover">
                    <ion-option value="mâle">mâle</ion-option>
                    <ion-option value="femelle">femelle</ion-option>
                    <ion-option value="jeune">jeune</ion-option>
                    <ion-option value="?">?</ion-option>
                </ion-select>
            </ion-item>



            <ion-item>
                <ion-label floating>Hauteur de détection (m)</ion-label>
                <ion-input type="number" formControlName="hauteur_detection"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Remarques</ion-label>
                <ion-textarea formControlName="Comments"></ion-textarea>
            </ion-item>

            <div class="imagesContainer">
                <div *ngFor="let image of images" class="imgContainer">
                    <img src={{image.base64Data}}>
                    <button class="delImg" (click)="deleteImage(image)">supprimer</button>
                </div>
            </div>
        </ion-list>

    </div>
    <!-- <button ion-button type="submit" block class="btnsubmit">Suivant</button>-->
    <!--[disabled]="formModel.invalid"-->
    <div>

    </div>

</form>