<ion-header>

    <ion-navbar>
        <ion-title>Authentification</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding *ngIf="!auth.isLoggedin" class="loginContent">
    <form #signForm="ngForm" (ngSubmit)="authenticate(signForm.value)">
        <ion-item>
            <ion-label>Login</ion-label>
            <ion-input type="text" name="login" ngModel></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Mot de passe</ion-label>
            <ion-input type="password" name="password" ngModel></ion-input>
        </ion-item>

        <div padding>
            <button ion-button type="submit">Valider</button>
        </div>
    </form>

</ion-content>

<ion-content *ngIf="auth.isLoggedin" class="loginContent">

    <div padding>
        <button ion-button block (click)="logout()">Se déconnecter</button>
    </div>
    <div padding>
        <button ion-button block color="light" (click)="resetLogout()">Annuler</button>
    </div>
</ion-content>