<form *ngIf="formModel" [formGroup]="formModel" novalidate (ngSubmit)="onSubmit(formModel.value)">
    <div [ngSwitch]="segment">
        <ion-list *ngSwitchCase="'localisation'" ngSelected="selected">
            <map (fullsize)="handleMapSize($event)" (latEvent)="handleLatChange($event)" (lonEvent)="handleLonChange($event)" (jsonEvent)="handleTraceChange($event)" [projId]="projId" [latitude]="latitude" [longitude]="longitude" [trace]="trace"></map>
            <!-- <map (latEvent)="handleLatChange($event)" (lonEvent)="handleLonChange($event)" [projId]="projId"></map>  -->
            <br/>
            <p><b>Date</b> : {{dateObs | date: 'dd/MM/yyyy'}} , <b>heure </b>: {{dateObs | date :'HH:mm'}}</p>
            <p><b>Latitude </b>: {{latitude}} , <b>longitude </b>: {{longitude}}</p>



        </ion-list>

        <ion-list *ngSwitchCase="'obligatoire'">

            <ion-item>
                <ion-label floating>Type d'inventaire</ion-label>
                <ion-select formControlName="type_inventaire" interface="popover">
                    <ion-option value="Echantillonnage aléatoire">Echantillonnage aléatoire</ion-option>
                    <ion-option value="Relevé fortuit">Relevé fortuit</ion-option>
                    <ion-option value="Relevé phytosociologique">Relevé phytosociologique</ion-option>
                    <ion-option value="Relevé qualitatif">Relevé qualitatif</ion-option>
                </ion-select>

            </ion-item>


            <ion-item (click)="presentPopoverAutocomp('flore')">
                <ion-label *ngIf="!formModel.value.nom_vernaculaire" class="labelSpecie">Nom vernaculaire</ion-label>
                <ion-label stacked *ngIf="formModel.value.nom_vernaculaire" class="labelSpecie">Nom vernaculaire</ion-label>
                <div item-content *ngIf="formModel.value.nom_vernaculaire" class="specieValue">{{formModel.value.nom_vernaculaire}}</div>
            </ion-item>
            <ion-item>
                <ion-input type="hidden" formControlName="nom_vernaculaire"></ion-input>
            </ion-item>
            <ion-item [class.hide]="true">
                <ion-label floating>Nom scientifique</ion-label><br/>

                <ion-input readOnly formControlName="nom_scientifique"></ion-input>

            </ion-item>


        </ion-list>

        <ion-list *ngSwitchCase="'facultatif'">

            <ion-item>
                <ion-label floating>Type de milieu</ion-label>
                <ion-select formControlName="type_milieu" interface="popover">
                    <ion-option value="Autre">Autre</ion-option>
                    <ion-option value="Cavité/Grotte">Cavité/Grotte</ion-option>
                    <ion-option value="Cours d’eau permanent">Cours d’eau permanent</ion-option>
                    <ion-option value="Cours d'eau temporaire">Cours d'eau temporaire</ion-option>
                    <ion-option value="Culture extensive">Culture extensive</ion-option>
                    <ion-option value="Culture intensive">Culture intensive</ion-option>
                    <ion-option value="Etang/Mare/Marais">Etang/Mare/Marais</ion-option>
                    <ion-option value="Forêt de conifères">Forêt de conifères</ion-option>
                    <ion-option value="Forêt de feuillus">Forêt de feuillus</ion-option>
                    <ion-option value="Forêt mixte">Forêt mixte</ion-option>
                    <ion-option value="Friche/Lande">Friche/Lande</ion-option>
                    <ion-option value="Haie">Haie</ion-option>
                    <ion-option value="Maquis/Garrigue">Maquis/Garrigue</ion-option>
                    <ion-option value="Mer/Océan">Mer/Océan</ion-option>
                    <ion-option value="Milieu bocager">Milieu bocager</ion-option>
                    <ion-option value="Milieu rupestre">Milieu rupestre</ion-option>
                    <ion-option value="Milieu urbain/Bâtis">Milieu urbain/Bâtis</ion-option>
                    <ion-option value="Pelouse naturelle">Pelouse naturelle</ion-option>
                    <ion-option value="Plage/Vasière/Lagune">Plage/Vasière/Lagune</ion-option>
                    <ion-option value="Plantation d'arbres">Plantation d'arbres</ion-option>
                    <ion-option value="Plaine céréalière">Plaine céréalière</ion-option>
                    <ion-option value="Prairie/Pâture">Prairie/Pâture</ion-option>
                    <ion-option value="Ripisylve">Ripisylve</ion-option>
                    <ion-option value="Rivière/Canal">Rivière/Canal</ion-option>
                    <ion-option value="Roselière/Mégaphorbiaie">Roselière/Mégaphorbiaie</ion-option>
                    <ion-option value="Tourbière">Tourbière</ion-option>
                    <ion-option value="Verger/Vignoble">Verger/Vignoble</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Coef. abondance/dominance</ion-label>
                <ion-select formControlName="abondance_dominance" interface="popover">
                    <ion-option value="i">i</ion-option>
                    <ion-option value="r">r</ion-option>
                    <ion-option value="+">+</ion-option>
                    <ion-option value="1">1</ion-option>
                    <ion-option value="2">2</ion-option>
                    <ion-option value="3">3</ion-option>
                    <ion-option value="4">4</ion-option>
                    <ion-option value="5">5</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>Strate</ion-label>
                <ion-select formControlName="strate" interface="popover">
                    <ion-option value="arborée">arborée</ion-option>
                    <ion-option value="arbustive">arbustive</ion-option>
                    <ion-option value="herbacée">herbacée</ion-option>
                    <ion-option value="muscinale">muscinale</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Stade végétatif</ion-label>
                <ion-select formControlName="stade" interface="popover">
                    <ion-option value="végétatif">végétatif</ion-option>
                    <ion-option value="en fleur">en fleur</ion-option>
                    <ion-option value="en fruits">en fruits</ion-option>
                    <ion-option value="fané">fané</ion-option>
                    <ion-option value="mort sur pied">mort sur pied</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Surface (m²)</ion-label>
                <ion-select formControlName="surface" interface="popover">
                    <ion-option value="0 à 25">0 à 25</ion-option>
                    <ion-option value="25 à 50">25 à 50</ion-option>
                    <ion-option value="50 à 100">50 à 100</ion-option>
                    <ion-option value="plus de 100">plus de 100</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Effectif</ion-label>
                <ion-input type="number" formControlName="effectif"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Remarques</ion-label>
                <ion-textarea formControlName="Comments"></ion-textarea>
            </ion-item>
            <div class="imagesContainer">
                <div *ngFor="let image of images" class="imgContainer">
                    <img src={{image.base64Data}}>
                    <button class="delImg" (click)="deleteImage(image)">supprimer</button>
                </div>
            </div>

        </ion-list>

    </div>

    <div>

    </div>

</form>