page-observation {
    .segment-md .segment-button {
        font-size: 1.1rem;
    }
    ion-app.md {
        padding: 10px;
    }
    .actionsBtn {
        width: 24%;
    }
    .actionsBtn img {
        max-width: 90%;
        max-height: 50%;
    }
    .btnsubmit {
        width: 44%;
    }
}

.actionItem {
    background-color: #f4f4f4!important;
}

.delImg {
    padding: 10px;
    margin-bottom: 20px;
}

.popover-page .label {
    padding-left: 15px;
}

.popover-md .popover-content {
    width: 320px!important;
    left: 5px!important;
}

.toast-error {
    >div {
        background-color: red!important;
    }
}