page-observation {
    .segment-md .segment-button {
        font-size: 1.1rem;
    }
    ion-app.md {
        padding: 10px;
    }
    .actionsBtn {
        width: 45%;
    }
    /*.btnsubmit {
        width: 45%;
    }*/
}

.actionItem {
    background-color: #f4f4f4!important;
}