<div>
    <form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>

        <div [ngSwitch]="segment">
            <ion-list *ngSwitchCase="'localisation'" ngSelected="selected" >
                <!--<map (fullsize)="handleMapSize($event)" (latEvent)="handleLatChange($event)" (lonEvent)="handleLonChange($event)" (jsonEvent)="handleTraceChange($event)" [projId]="projId" [latitude]="latitude" [longitude]="longitude" [trace]="trace"></map>-->
                <br/>
                
                <map  (latEvent)="handleLatChange($event)" (lonEvent)="handleLonChange($event)" (jsonEvent)="handleTraceChange($event)"  [mapParams]="mapParams" ></map>
                
                <br/>
                <p><b>Date</b> : {{dateObs | date: 'dd/MM/yyyy'}} , <b>heure </b>: {{dateObs | date :'HH:mm'}}</p>
                <p><b>Latitude </b>: {{latitude}} , <b>longitude </b>: {{longitude}}</p>
    
    
    
            </ion-list>

            <ion-list *ngSwitchCase="'obligatoire'">


                <div *ngFor="let field of fields" class="form-row">
                  
            
                            <div *ngIf="field.required==true">
                                <app-field [field]="field" [form]="form"></app-field>
                            </div>
            
                    </div>   


            </ion-list>  

            <ion-list *ngSwitchCase="'facultatif'" >

                    <div *ngFor="let field of fields" class="form-row">
                           
            
                            <div *ngIf="!field.required">
                               <app-field [field]="field" [form]="form"></app-field>
                            </div>
            
                    </div>
                    <div class="imagesContainer">
                            <div *ngIf="images.length>0">
                                    <br/>
                                    <ion-label>Photos</ion-label>
                                    <div *ngFor="let image of images" class="imgContainer">
                                            <img src={{image.base64Data}}>
                                            <button class="delImg" (click)="deleteImage(image)">supprimer</button>
                                    </div>
                            </div>
                      
                    </div>

            </ion-list> 


    </div>

    </form>


</div>
<div>
    
</div>

