page-map {
    map {
        display: block;
    }
    .map-container {
        height: 250px;
    }
    .map-full {
        position: fixed;
        height: 100%;
        width: 100%;
    }
}

.fullmap {
    position: absolute!important;
    z-index: 100000!important;
    right: 25px!important;
    width: 50px!important;
    height: 50px!important;
    top: 90px;
    background: url('../assets/icon/fullMap1.jpg') no-repeat right bottom!important;
}

.smallmap {
    height: 50px!important;
    width: 50px!important;
    right: 25px!important;
    z-index: 100000!important;
    position: absolute!important;
    top: 90px;
    background: url('../assets/icon/smallMap1.jpg') no-repeat right bottom!important;
    display: none;
}