<ion-header>

    <ion-navbar>
        <ion-title>Projets</ion-title>
    </ion-navbar>

    <!-- segment -->
    <ion-toolbar primary no-border-top class="with-segment floating-ion-toolbar toolbar-bottom">
        <ion-segment [(ngModel)]="projectsSegment" (ionChange)="onSegmentChanged($event)">
            <ion-segment-button value="myproj">
                Mes projets
            </ion-segment-button>
            <ion-segment-button value="allproj">
                Tous les projets
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>


<ion-content padding>

    <div [ngSwitch]="projectsSegment">
        <ion-list *ngSwitchCase="'myproj'">
            <ion-item *ngFor="let project of loadedProjects" (click)="navToProtocols(project.ID, project.isPushed)">
                <!--    <ion-thumbnail item-start>
                    <img src={{project.image}} />
                </ion-thumbnail>
                <div item-content>
                    <h2> {{project.Name}}</h2>
                    <p>ref : {{project.Project_reference}}</p>
                </div>
                
                <ion-checkbox item-right secondary checked={{project.checked}} [(ngModel)]="project.checked" (click)="checkedDone(project, 'local')"></ion-checkbox>

            -->

                <ion-row class="myprojrow">
                    <ion-col col-3>
                        <ion-thumbnail item-start>
                            <img src={{project.image}} />
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col col-6>
                        <br/>
                        <h2> {{project.Name}}</h2>
                        <p>ref : {{project.Project_reference}}</p>
                    </ion-col>
                    <ion-col col-3>
                        <ion-item class="myprojcheckbox">
                            <ion-checkbox item-right secondary checked={{project.checked}} [(ngModel)]="project.checked" (click)="checkedDone(project, 'local')"></ion-checkbox>
                        </ion-item>
                    </ion-col>
                </ion-row>


            </ion-item>


        </ion-list>

        <ion-list *ngSwitchCase=" 'allproj' ">
            <ion-item *ngFor="let project of projects " class="allprojitem">
                <div item-content>
                    <h2> {{project.Name}}</h2>
                    <p>ref : {{project.Project_reference}}</p>
                </div>
                <ion-checkbox item-right secondary checked="false" [(ngModel)]="project.checked" (click)="checkedDone(project, null)" *ngIf="!project.isLoaded" class="allprojcheckbox"></ion-checkbox>
            </ion-item>
        </ion-list>

    </div>
    <!--<div><button ion-button (click)="navToProtocols(1,false)" color="danger">next</button></div>-->

</ion-content>
<ion-footer no-shadow>
    <ion-toolbar position="bottom">
        <button ion-button [class.hide]="!displayMyProjs" (click)="deleteSelected($event)" type="submit" [disabled]="myProjdisabled" color="danger">Supprimer</button>
        <button ion-button [class.hide]="!displayMyProjs" (click)="pushData($event)" type="submit" style="float: right;" class="syncBtn">Synchroniser</button>
        <button ion-button [class.hide]="displayMyProjs" type="submit" block (click)="ImportProjects()" [disabled]="disabled">Importer</button>
    </ion-toolbar>
</ion-footer>