page-projects {
    ion-thumbnail img {
        width: 60px !important;
        height: 60px !important;
    }
    .list .row {
        height: 90px;
    }
    button.item-md.item-block .item-inner {
        border-bottom: 0px;
    }
    .checkbox-md .checkbox-icon {
        border-radius: 4px;
        position: relative;
        width: 25px;
        height: 25px;
        border-width: 2px;
    }
    .tuilesToastOk {
        background: green;
    }
    .tuilesToastError {
        background: rgb(209, 71, 71);
    }
    .allprojitem {
        padding-bottom: 8px;
        padding-top: 8px;
    }
    .allprojitem .item-inner {
        padding-bottom: 10px;
    }
    .allprojitem .label-md {
        flex: 0;
    }
    .myprojcheckbox .item-block .item-inner {
        border-bottom: 0px;
    }
}